.formDiv{
    display: grid;
    grid-column: 1 / span 16;
    grid-row: span 1;
    grid-template-columns: repeat(10, 1fr);
    margin-bottom: 10px;
    margin-top: 10px;
    border: 2px solid black;
}

.form{
    grid-column: span 10;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.formLabel{
    margin-right: 5px;
}

.formSection{
    grid-column: span 4;
    margin: auto;
}